body {
  margin: 0;
  padding: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.container-fluid {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: nowrap;
}

header {
  background-color: #2c3e50;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header a {
  color: #fff;
  text-decoration: none;
}

header .right-side a:hover {
  color: #1abc9c;
}

header .left-side {
  display: inline;
  font-size: 1.5em;
  margin-right: 1rem;
}

header .right-side {
  /* width: 70%; */
}

header .right-side ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

#menu li {
  text-align: center;
  margin: 0 1% 0 1%;
}

#menu li .checked {
  background-color: #1abc9c;
}

header button {
  font-weight: bold;
  height: 100%;
  border-radius: 0.5rem !important;
  border: 0;
  padding: 15%;
  background-color: #2c3e50;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1abc9c;
  color: #ffffff;
  padding: 7% 0 3% 0;
}

.bg-green {
  background-color: #1abc9c;
}

#img {
  width: 15%;
  margin: auto;
}

.wrapper h1 {
  font-size: 350%;
  font-weight: 800;
  margin-bottom: 1%;
}

.divider-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0 1.5rem;
  width: 100%;
}

.divider-line .divider-custom-line {
  background-color: #ffffff;
  border-radius: 1em;
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.text-first {
  color: #fff !important;
}

.text-secondary {
  color: #2c3e50 !important;
}

.bg-color {
  background-color: #2c3e50 !important;
}

.portfolio,
.about,
.contact,
.information {
  padding: 80px 0 80px 0;
}

i {
  font-size: 2rem;
  margin: 0 1% 0 1%;
}

.portfolio .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.portfolio .content .sub-content {
  flex-basis: 33.333%;
  position: relative;
}

#content-1:hover .sub-content-hover,
#content-2:hover .sub-content-hover,
#content-3:hover .sub-content-hover,
#content-4:hover .sub-content-hover,
#content-5:hover .sub-content-hover,
#content-6:hover .sub-content-hover {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0.5rem;
  height: 99% !important;
  width: 99% !important;
  top: 0;
  left: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

.portfolio .content .sub-content-hover {
  display: none;
}

.portfolio .content .sub-content-hover i {
  text-align: center !important;
  cursor: pointer;
}

.portfolio .content img {
  border-radius: 0.5rem;
  width: 99%;
}

.about {
  color: #ffffff;
  text-align: center;
}

.about .content {
  display: flex;
  text-align: left;
  justify-content: center;
}

.about .content p {
  width: 33.333%;
}

.about .download i {
  font-size: 1.25rem;
}

.contact .content input,
textarea {
  display: block;
  width: 100%;
  margin: 2% 0 2% 0;
  border: none;
  border-bottom: 1px solid #e9ecef;
  font-weight: bold;
}

.contact .content input {
  height: 50px;
}

.contact .content textarea {
  height: 200px !important;
  resize: none;
}

footer {
  background-color: #2c3e50;
  color: #ffffff;
}

footer .information {
  display: flex;
}

footer .information * {
  flex: 1;
  text-align: center;
}

footer .information .around-web .icons button i {
  color: #ffffff;
  font-size: 1.25rem;
}

footer .information .around-web .icons button {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  background-color: #2c3e50;
}

footer a {
  color: #1abc9c;
}

footer .copyright {
  background-color: #1a252f;
  text-align: center;
  padding: 10px 0 10px 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 0;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0.125rem solid transparent;
}

.btn:hover {
  color: #212529 !important;
  background-color: #fff !important;
  cursor: pointer;
}

.btn:hover i {
  color: #212529 !important;
}

.btn-primary {
  padding: 1rem 1.75rem;
  font-size: 1rem;
  width: 32%;
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-primary h3 {
  display: inline;
}

.btn-submit {
  font-weight: 700;
  font-size: 20px;
  padding: 2%;
}

.btn-success {
  background-color: #1abc9c;
}

.btn-submit:hover {
  color: #ffffff !important;
  background-color: #28a745 !important;
}
